.template-game {
    height: 100%;
    .gameCanvas {
        position: relative;
        height: 100%;
        
    }
    .gameInfo {
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        font-size: 5em;
        font-weight: 900;
        text-shadow: 5px 5px #f6a76a;
        color: #e26b16;
    }
    .hidden {
        display: none;
    }

    .target {
        position: absolute;
        width: 100px;
        height: 70px;
        border: 2px solid;
        border-color: red;
        &.me {
            border-color: white;
        }
    }

    .battlefield {
        position: absolute;
        left: 0; 
        top: 0; 
        bottom: 0; 
        right: 0; 
        margin: auto;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        box-shadow: 0 0 0 2px white;
        .circle {
            position: absolute;
            width: 10%;
            height: 10%;
            border-radius: 50%;
            box-shadow: 0 0 0 2px white;
            backdrop-filter: blur(3px);
            &.circle-1 {
                left: calc(50% - 5%);
                top: calc(0% - 5%);
            }
            &.circle-2 {
                left: calc(27% - 5%);
                top: calc(6% - 5%);
            }
            &.circle-3 {
                left: calc(10% - 5%);
                top: calc(20% - 5%);
            }
            &.circle-4 {
                left: calc(1% - 5%);
                top: calc(39% - 5%);
            }
            &.circle-5 {
                left: calc(1% - 5%);
                top: calc(60% - 5%);
            }
            &.circle-6 {
                left: calc(10% - 5%);
                top: calc(80% - 5%);
            }
            &.circle-7 {
                left: calc(27% - 5%);
                top: calc(95% - 5%);
            }
            &.circle-8 {
                left: calc(50% - 5%);
                top: calc(100% - 5%);
            }
            &.circle-9 {
                left: calc(73% - 5%);
                top: calc(95% - 5%);
            }
            &.circle-10 {
                left: calc(90% - 5%);
                top: calc(80% - 5%);
            }
            &.circle-11 {
                left: calc(99% - 5%);
                top: calc(60% - 5%);
            }
            &.circle-12 {
                left: calc(99% - 5%);
                top: calc(39% - 5%);
            }
            &.circle-13 {
                left: calc(90% - 5%);
                top: calc(20% - 5%);
            }
            &.circle-14 {
                left: calc(74% - 5%);
                top: calc(6% - 5%);
            }
        }
    }
}